@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
	font-family: 'Press Start 2P', sans-serif;
	/*background-color: black;*/
}

* {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

canvas {
	margin: -0.5em;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	object-fit: contain;
	border: 10px;
	border: white;
}

div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button {
	margin: auto;
	height: 8em;
	width: 8em;
}

.buttonsLeftSide {
	float: left;
	margin-left: 10px;	
}

.buttonsRightSide {
	float: right;
}

@media (orientation : portrait) {
	canvas {
		display: block;
	}
	.buttonsLandscape {
		display: none;
	}
	.buttonsPortait {
		display: inline;
		margin: 5em;
		margin-top: 2em;
	}
}

@media (orientation : landscape) {
	canvas {
		display: inline;
	}
	.buttonsPortait {
		display: none;
	}
}

@media ( hover : hover) {
	button {
		display: none;
	}
}