@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
	font-family: 'Press Start 2P', sans-serif;
	color: white;
	background-color: black;
}

* {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	object-fit: contain;
}

/* ==== Menu ==== */

img {
	height: 3.8em;
}

h1 {
	color: rgb(34, 249, 27);
}

#controlls {
	margin: 1.5em;
	color: rgb(34, 249, 27);
	
}

#startButton {
    transition-duration: 0.15s;    
    background-color: black;
    border: 2px solid rgb(34, 249, 27);
    color: rgb(34, 249, 27);
    padding: 1em 2em;
    cursor: pointer;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

#startButton:hover {
    background-color: rgb(34, 249, 27); /* Green */
    color: white;
}


/* ==== Spiel ==== */
canvas {	
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	object-fit: contain;
	display: block;
	border: 10px;
	border: white;
	overflow: hidden;
	margin: -0.8em;
	margin-left: auto;
	margin-right: auto;
}

@media ( hover : hover) {
	.gameButton {
		display: none;
	}

}
/* @media not all and (hover: none) */
@media not all and ( hover : hover) {
	.gameButton {
		display: initial;
		margin: auto;
		height: 8em;
		width: 8em;
	}
	.buttonsPortait {
		display: inline;
		margin: 5em;
		margin-top: 2em;
	}
	.buttonsLeftSide {
		float: left;
		margin-left: 10px;
	}
	.buttonsRightSide {
		float: right;
	}
}